<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                See note below about the "defer" attribute -->
        {% endblock %}
    </head>



    <body>

        <header class="p-lg-2   text-white p-lg-1" style="background-color:rgba(0, 0, 0, 0.8);">
            {% block header %}
                <div class="container-fluid">
                    <div class="d-flex flex-wrap align-items-center  justify-content-lg-start order-lg-1 order-1">
                        <a href="/" class="d-flex align-items-center p-2 mb-2 mb-lg-0 text-white text-decoration-none">
                            <img class=" img " style="margin-left: 0; max-width: 10em" src="{{ asset('images/Logos/LogoHeader.png') }}" ></img>
                        </a>

                        <ul class="nav col-12 col-lg-5 ms-lg-auto mb-4 mt-3 justify-content-center  mb-lg-0 mt-lg-0 order-lg-2 order-3 justify-content-evenly align-items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-left-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                </svg>
                            </div>

                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                </svg>
                            </div>

                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                            </div>
                        </ul>

                        <div class="order-lg-3 order-2 ms-auto ms-lg-auto">
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Buscar.." aria-label="Search">
                                <button class="btn btn-outline-danger" type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </header>
        {% block body %}
            <style>
                body{


                    background-repeat: repeat;
                    background-image: url({{ asset('images/pattern.png') }});
                }


                body{
                    height: 100vh;
                }
            </style>

        {% endblock %}
        <footer>
            {% block footer %}
                <div id="footer1" class="container-fluid " style="background-color:rgba(0, 0, 0, 0.6);">
                    <div class="row" style="display: flex; flex-direction: row;justify-content: space-between; align-items: center;">
                        <div class="col-lg-6 col-12 ">
                            <div class="row p-2 d-flex" >
                                <div class="col-12 col-lg-6 justify-content-lg-start justify-content-center" style="display: flex; flex-direction: row; align-items: center;"><img class="img-fluid "  style=" max-width: 12em" src="{{ asset('images/Logos/Logofooter.png') }}" ></div>
                                <div class="col-12 col-lg-6 " style="display: flex; flex-direction: row;justify-content: center; align-items: center;">
                                    <div class="socialiconsFooter mt-3 mt-lg-0" style="">
                                        <img class="footericon" src="{{ asset('images/icons/TwtIcon.png') }}">
                                        <img class="footericon" src="{{ asset('images/icons/InstaIcon.png') }}">
                                        <img class="footericon" src="{{ asset('images/icons/fbIcon.png') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12  footer-links-wrapper">
                            <ul class="footer-links">
                                <li id="footer-links-nonborder"><a href="localhost/contacto">CONTACTO</a></li>
                                <li><a href="localhost/contacto">CONDICIONES Y PRIVACIDAD</a></li>
                                <li style="color: white">©Copyright JoseCubano 2021</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <style>
                    .socialiconsFooter img{
                        width: 1.5em;
                        height: auto;
                        margin-left:2em;
                    }
                    /*Media query de boostrap*/
                    /*@media screen and (min-width: 1200px) {
                        body{
                            background-size: cover;
                        }
                    }*/
                    .footer-links-wrapper{
                        overflow: hidden;
                        position: relative;
                        top: 8px;
                    }
                    .footer-links{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    .footer-links li{
                        flex-grow: 1;
                        flex-basis: auto;
                        margin: .25em 0;
                        padding: 0 1em;
                        text-align: center;
                        border-left: 1px solid #ffffff;
                        letter-spacing: 1px;
                        list-style-type: none;
                        font-size: 0.8rem;
                    }
                    .footer-links li a{
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: normal;
                        transition: .2s ease-out;
                    }
                    #footer-links-nonborder{
                        border-left: none;
                    }
                    #footer1{
                        position: absolute;
                        bottom: 0;
                    }

                </style>
            {% endblock %}


        </footer>
    </body>





</html>