<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                See note below about the "defer" attribute -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        {% endblock %}
    </head>



    <body>
        <header class="p-2 text-white " style="background-color:rgba(0, 0, 0, 0.8);">
            {% block header %}
                <div class="container-fluid d-flex flex-row align-items-center">

                    <a href="{{ path('homepage') }}"><img class=" img me-2" style="max-width: 10em" src="{{ asset('images/Logos/LogoHeader.png') }}" ></a>

                    <i onclick="window.location.href = '{{ path('mensajes') }}'" class="bi bi-chat-fill ms-auto " style="font-size: 20px; color: white; padding: 0 5px;"></i>
                    <i class="bi bi-bell-fill me-2 ms-2" style="font-size: 20px; padding: 0 5px; margin: 0 20px;"></i>

                    <input id="buscador" type="text" class="buscador-header ps-2 me-2" placeholder="&#61442;" aria-label="Search" style="border: none; border-radius: 2.25rem; width: 300px; margin: 0 20px">

                    <div class=" perfilHeader d-flex flex-row p-1 align-items-center " style="background-color: #CE5353FF; margin: 0 20px;">

                        <div class="contenedorMenu">
                            <p class="p-2 tituloMenu">Perfil</p>
                            <div class="menuDesplegable d-none d-flex flex-column align-items-center ">
                                <a href="{{ path('ajustes') }}" class="botonMenuPerfil"><i class="bi bi-gear"></i></a>

                                <a href="{{ path('perfil') }}" class="botonMenuPerfil"><i class="bi bi-person"></i></a>

                                <a href="{{ path('app_logout') }}" class="botonMenuPerfil"><i class="bi bi-box-arrow-left"></i></a>

                            </div>
                        </div>

                        <img src="{{ asset('images/Perfiles/' ~ login.galeria.getFotoPerfil)}}" alt="mdo" width="40" height="40" class="rounded-circle" style=" z-index: 1;">


                    </div>

                </div>
            {% endblock %}
        </header>
        <div class="pt-3 pb-3 main-content"  >
            {% block body %}
                <style>
                    @import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css"; {# placeholder de la importación del icono de la barra de busqueda#}
                    body{

                        background-size: 500px 500px;
                        background-repeat: repeat;
                        background-image: url({{ asset('images/Backgrounds/pattern_1.0.png') }});
                    }

                </style>

            {% endblock %}
        </div>
        <footer>
            {% block footer %}
                <div id="footer1" class="container-fluid " style="background-color:rgba(0, 0, 0, 0.6);">
                    <div class="row" style="display: flex; flex-direction: row;justify-content: space-between; align-items: center;">
                        <div class="col-lg-6 col-12 ">
                            <div class="row p-2 d-flex" >
                                <div class="col-12 col-lg-6 justify-content-lg-start justify-content-center" style="display: flex; flex-direction: row; align-items: center;"><img class="img-fluid "  style=" max-width: 12em" src="{{ asset('images/Logos/Logofooter.png') }}" ></div>
                                <div class="col-12 col-lg-6 " style="display: flex; flex-direction: row;justify-content: center; align-items: center;">
                                    <div class="socialiconsFooter mt-3 mt-lg-0" style="">
                                        <i class="bi bi-twitter"></i>
                                        <i class="bi bi-instagram"></i>
                                        <i class="bi bi-facebook"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12  ">
                            <ul class="footer-links " style="margin-top: auto; margin-bottom: auto">
                                <li id="footer-links-nonborder"><a href="localhost/contacto">CONTACTO</a></li>
                                <li><a href="localhost/contacto">CONDICIONES Y PRIVACIDAD</a></li>
                                <li style="color: white">©Copyright JoseCubano 2021</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <style>

                    .socialiconsFooter i{
                        color: white;
                        font-size: 2vw;
                        margin-left:2em;
                    }
                    .socialiconsFooter{
                        display: flex;
                        flex-direction: row;
                    }
                    /*Media query de boostrap*/
                    /*@media screen and (min-width: 1200px) {
                        body{
                            background-size: cover;
                        }
                    }*/
                    .footer-links-wrapper{
                        overflow: hidden;
                        position: relative;
                        top: 8px;
                    }
                    .footer-links{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    .footer-links li{
                        flex-grow: 1;
                        flex-basis: auto;
                        margin: .25em 0;
                        padding: 0 1em;
                        text-align: center;
                        border-left: 1px solid #ffffff;
                        letter-spacing: 1px;
                        list-style-type: none;
                        font-size: 0.8rem;
                    }
                    .footer-links li a{
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: normal;
                        transition: .2s ease-out;
                    }
                    #footer-links-nonborder{
                        border-left: none;
                    }
                    #footer1{

                    }
                    html{
                        height: 100%;
                    }

                    body{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                    }
                    header{
                        /* We want the header to have a static height,
                        it will always take up just as much space as it needs.  */
                        /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
                        flex: 0 0 auto;
                        position: sticky;
                        z-index: 1000;
                        top: 0;
                    }
                    input{
                        font-family: Metropolis, FontAwesome;
                    }
                    input:focus{
                        outline: none;
                    }

                    header i:hover{
                        background-color: #CE5353FF;
                        cursor: pointer;
                        border-top-right-radius: 360px;
                        border-bottom-right-radius: 360px;
                        border-top-left-radius: 360px;
                        border-bottom-left-radius: 360px;
                    }

                    .perfilHeader p{
                        margin: 0;

                    }
                    .bi-box-arrow-left::before {
                        margin-right: 3.5px;
                    }
                    .tituloMenu{
                        font-size: 13.4px;
                    }
                    .botonMenuPerfil{
                        color: inherit;
                        margin-bottom: 5px;
                    }

                    .perfilHeader{
                        border-top-right-radius: 360px;
                        border-bottom-right-radius: 360px;
                        border-top-left-radius: 360px;
                        border-bottom-left-radius: 360px;
                    }
                    .perfilHeader img{
                        cursor: pointer;
                    }
                    .menuDesplegable p{
                        font-size: 10px;
                    }

                    .main-content{
                        /* By setting flex-grow to 1, the main content will take up
                        all of the remaining space on the page.
                        The other elements have flex-grow: 0 and won't contest the free space. */
                        /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
                        flex: 1 0 auto;
                    }

                    footer{
                        /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
                        /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
                        flex: 0 0 auto;
                    }


                </style>
            {% endblock %}


        </footer>
    </body>


</html>