<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js" defer></script>
            <script src="/build/app.js" defer></script>
            See note below about the "defer" attribute -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% endblock %}
</head>
<body style="background-size: 250px 250px; background-repeat: repeat; background-image: url({{ asset('images/Backgrounds/pattern_1.0.png') }});">
<header class="p-2 text-white " style="background-color:rgba(0, 0, 0, 0.8);">
    {% block header %}
        <div style="display: flex; align-items: center; width: 100%;">

            <a href="{{ path('homepage') }}"><img class=" img" style="margin-right:auto;max-width: 4em;" src="{{ asset('images/Logos/LOGOHEADERMOVIL.png') }}"></a>
            <div style="display: flex; justify-content: space-between; margin-left: 15px; margin-right: 15px;width: 65%;padding: 0 15px;">

                <i onclick="window.location.href = '{{ path('mensajes') }}'" class="bi bi-chat-fill " style="font-size: 20px; color: white; padding: 0 5px;"></i>
                <i {#onclick="window.location.href = '{{ path('notificaciones') }}'"#} class="bi bi-bell-fill me-2 ms-2 " style="font-size: 20px; padding: 0 5px; margin: 0 20px;"></i>
                <i {# Crear script para abrir barra de busqueda #} class="bi bi-search " style="font-size: 20px; padding: 0 5px;"></i>

            </div>
            <div class="perfil" style="margin-left: 10px">
                <div class="desplegable" style=""></div>
                <div  alt="mdo" width="50" height="50" class="rounded-circle" style="background-image: url('{{ asset('images/Perfiles/' ~ login.galeria.getFotoPerfil)}}'); margin-left: auto; background-size: cover;position: center;  width:40px;height:40px;">

                </div>
            </div>

        </div>
    {% endblock %}
</header>
    <div class="main-content "  >
    {% block body %}

    {% endblock %}
    </div>
    <footer>
        <div class="footerMobile">
            <div class="logoFooter">
                <img class="img-fluid"  style=" max-width: 10em" src="{{ asset('images/Logos/Logofooter.png') }}" >
            </div>

            <div class="iconosFooter">
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
            </div>

            <div class="infoFooter">
                <li class="infoFooterNonBorder"><a href="localhost/contacto">CONTACTO</a></li>
                <li><a href="localhost/contacto">CONDICIONES Y PRIVACIDAD</a></li>
                <li style="color: white">©Copyright 2021</li>
            </div>


        </div>

    </footer>

</body>
<style>
    html{
        height: 100%;
    }

    body{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    header{
        /* We want the header to have a static height,
        it will always take up just as much space as it needs.  /
        / 0 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 0 0 auto;

    }
    footer{
        /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  /
        / 0 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 0 0 auto;
    }
    .footerMobile{
        padding: 12px;
        background-color:rgba(0, 0, 0, 0.6);
    }
    footer .logoFooter{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    footer .logoFooter img{
        max-width: 10em;

    }
    footer .iconosFooter{
        display: flex;
        color: white;
        justify-content: center;
        margin-bottom: 10px;
    }
    footer .iconosFooter i{
        margin-left: 20px;
        font-size: 1.2em;
    }
    footer  a,li{
        text-decoration: none;
        color: white;
        font-size: 8px;
        list-style: none;
    }
    footer .infoFooter{
        display: flex;
        justify-content: center;
    }
    footer .infoFooter li{
        border-left: 1px solid #ffffff;
        margin-left: 10px;
        padding-left: 10px;
    }
    footer .infoFooterNonBorder{
        border-left: none !important;
        margin-left: 0 !important;
    }

    .main-content{
        /* By setting flex-grow to 1, the main content will take up
        all of the remaining space on the page.
        The other elements have flex-grow: 0 and won't contest the free space. /
        / 1 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 1 0 auto;
    }
</style>

</html>