<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                See note below about the "defer" attribute -->
        {% endblock %}
    </head>



    <body>
        <header class="p-lg-2   text-white p-lg-1" style="background-color:rgba(0, 0, 0, 0.4);">
            {% block header %}

            {% endblock %}
        </header>
        {% block body %}{% endblock %}
        <footer>
            {% block footer %}
                <div id="footer1" class="container-fluid " style="background-color:rgba(0, 0, 0, 0.2);">
                    <div class="row" style="display: flex; flex-direction: row;justify-content: space-between; align-items: center;">
                        <div class="col-lg-6 col-12 ">
                            <div class="row p-2 d-flex" >
                                <div class="col-12 col-lg-6 justify-content-lg-start justify-content-center" style="display: flex; flex-direction: row; align-items: center;"><img class="img-fluid "  style=" max-width: 12em" src="{{ asset('images/Logos/Logofooter.png') }}" ></div>
                                <div class="col-12 col-lg-6 " style="display: flex; flex-direction: row;justify-content: center; align-items: center;">
                                    <div class="socialiconsFooter" style="">
                                        <img class="footericon" src="{{ asset('images/icons/TwtIcon.png') }}">
                                        <img class="footericon" src="{{ asset('images/icons/InstaIcon.png') }}">
                                        <img class="footericon" src="{{ asset('images/icons/fbIcon.png') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12  footer-links-wrapper">
                            <ul class="footer-links">
                                <li id="footer-links-nonborder"><a href="localhost/contacto">CONTACTO</a></li>
                                <li><a href="localhost/contacto">CONDICIONES Y PRIVACIDAD</a></li>
                                <li style="color: white">©Copyright JoseCubano 2021</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <style>
                    .socialiconsFooter img{
                        width: 1.5vw;
                        height: auto;
                        margin-left:2em;
                    }
                    /*Media query de boostrap*/
                    /*@media screen and (min-width: 1200px) {
                        body{
                            background-size: cover;
                        }
                    }*/
                    .footer-links-wrapper{
                        overflow: hidden;
                        position: relative;
                        top: 8px;
                    }
                    .footer-links{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    .footer-links li{
                        flex-grow: 1;
                        flex-basis: auto;
                        margin: .25em 0;
                        padding: 0 1em;
                        text-align: center;
                        border-left: 1px solid #ffffff;
                        letter-spacing: 1px;
                        list-style-type: none;
                        font-size: 0.8rem;
                    }
                    .footer-links li a{
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: normal;
                        transition: .2s ease-out;
                    }
                    #footer-links-nonborder{
                        border-left: none;
                    }
                    #footer1{
                        position: absolute;
                        bottom: 0;
                    }

                </style>
            {% endblock %}
        </footer>
    </body>





</html>