{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<div class="video-container">
    <video autoplay muted loop>
        <source src="{{ asset('videos/fondoIndex1.mp4') }}" type="video/mp4" />
    </video>
        {{ parent() }}

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="cuerpo">
            <div class="logo"></div>
            <div class="d-flex flex-column contenedorForm align-items-center mt-5 ">


                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, { label: 'Nombre de usuario' }) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Contraseña'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="boton">Siguiente</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
</div>
    <style>
        input:-webkit-autofill,
        input:-webkit-autofill:focus {
            transition: background-color 600000s 0s, color 600000s 0s;
        }
        body{
            background-image: none;
            background-color: black;
        }
        .video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            position: relative;
            background-color:  rgba(0 0 0 / 60%);
        }

        .video-container video {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            z-index: -2;
            filter: blur(3px);
        }
        .cuerpo{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-top: 45px;
        }
        .logo{
            background-image: url("{{ asset('images/Logos/LogoHeader.png') }}");
            background-size: cover;
            width: 35em;
            height: 9.65em;
            margin-bottom: 20px;
        }
        .contenedorForm form{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #CE5353;

            border-radius: 0.5rem !important;
            height: 100%;
            max-width: 500px;
            min-width: 260px;
            position: relative;
        }

        .contenedorForm form div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 50px;
            border-radius: 0 100px 100px 0 ;

        }
        .registro{
            margin-top: 15px;
            background-color: #CE5353;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 75px;
            height: 25px;
            font-size: 24px;
            font-weight: bolder;
            position: absolute;
            left: -10px;
            top: 0px;
            box-shadow: 1px 8px 8px -5px rgb(0 0 0 / 31%);
        }



        .contenedorForm button{
            background-color: #CE5353;
            color: white;
            margin-top: 20px;
            margin-bottom: 20px;
            border: none;
            border-radius:100px ;
            font-size: 14px;
            font-weight: bolder;
            width: 120px;
            height: 35px;
            box-shadow:inset 0px -10px 6px -3px rgb(0 0 0 / 31%);
        }
        button:hover{
            background-color: #A74343;
        }
        .contenedorForm h1{
            background-color: #CE5353;
            color: white;
            margin-top: 20px;
        }

        header{
            padding: 0!important;
        }
        input{
            border-radius: 100px;
            font-family: Metropolis;
            border:none;
            background-color: white !important;
            width: 200px;
            box-shadow: 1px 8px 8px -5px rgb(0 0 0 / 31%);
            padding-left: 20px;

        }
        label{
            font-weight: 600;
        }
        #registration_form_agreeTerms{
            border-radius: 0;
            font-family: Metropolis;
            border:none;
            background-color: white !important;
            width: 15px;
            height:15px;
            box-shadow: none;
            padding-left: 20px;
        }



    </style>


{% endblock %}
