{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}



{% block body %}
    {{ parent() }}
    {{  dump() }}
    <div class="container">
        <div class="card">
            <img src="{{ asset('images/imagenes_random/bannerCoche.PNG') }}">
        </div>
    </div>

    <div class="container mt-5">
        <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
            <div class="carousel-inner mx-auto" style="width: 80%">
                <div class="carousel-item active">
                    <div class="container gridUsers p-4 align-items-center justify-content-center bg-white " style="border-radius: 10px; " >
                        {% if users|length > 0 %}
                            {% for user in users|slice(0, 6) %}
                                <div class="container-fluid">
                                    <div class="imagenUser" style="background-image: url({{ asset('images/Perfiles/' ~ user.galeria.getFotoPerfil) }});"></div>
                                    <div class="mt-2 mb-1 row">
                                        <div class="col-8">
                                            <h5 class="text-start " >{{ user.atributos.nombre }}</h5>
                                            <p class=" text-start" >Nacionalidad</p>
                                            <p class="text-start " >Edad</p>
                                        </div>
                                        <div class="col-4">
                                            <i class="bi bi-heart-fill" ></i>
                                            <i class="bi bi-chat-left-fill" ></i>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>No hay usuarios disponibles</div>
                        {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container gridUsers p-4 align-items-center justify-content-center bg-white " style="border-radius: 10px; " >
                        {% if users|length > 0 %}
                            {% for atributo1 in atributos|slice(0, 6) %}
                                <div class="container">
                                    <div class="imagenUser" style="background-image: url({{ asset('images/Perfiles/pexels-edu-carvalho-2050994.jpg') }});" ></div>
                                    <div class="mt-2 mb-1 row">
                                        <div class="col-8">
                                            <h5 class="card-title " >{{ atributo1.nombre }}</h5>
                                            <p class="card-text " >Nacionalidad</p>
                                            <p class="card-text " >Edad</p>
                                        </div>
                                        <div class="col-4">
                                            <i class="bi bi-heart-fill" ></i>
                                            <i class="bi bi-chat-left-fill" ></i>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>No hay usuarios disponibles</div>
                        {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container gridUsers p-4 align-items-center justify-content-center bg-white " style="border-radius: 10px; " >
                        {% if users|length > 0 %}
                            {% for atributo2 in atributos|slice(0, 6) %}
                                <div class="container">
                                    <div class="imagenUser" style="background-image: url({{ asset('images/Perfiles/pexels-daniel-xavier-1239291.jpg') }});" ></div>
                                    <div class="mt-2 mb-1 row">
                                        <div class="col-8">
                                            <h5 class="card-title " >{{ atributo2.nombre }}</h5>
                                            <p class="card-text " >Nacionalidad</p>
                                            <p class="card-text " >Edad</p>
                                        </div>
                                        <div class="col-4">
                                            <i class="bi bi-heart-fill" ></i>
                                            <i class="bi bi-chat-left-fill" ></i>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>No hay usuarios disponibles</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <style>
        .gridUsers{
            display: grid;
            /*gap: 0.8em;*/
            column-gap: 3vw;
            grid-template-columns: 25% 25% 25%;

        }
        .imagenUser {
            width: 12vw;
            height: 12vw;
            background-size: cover;
            background-position: center 15%;
            background-repeat: no-repeat;
            border-radius: 10px;
        }

        p{
            font-size: 1.2vw;
        }
        h5{
            font-size: 1.3vw;
        }
        i{
            font-size: 1.2vw;
        }

    </style>


{% endblock %}
