{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}



{% block body %}
    {{ parent() }}
    
    <div class="container">
        <div class="card">
            <img src="{{ asset('images/imagenes_random/bannerCoche.PNG') }}">
        </div>
    </div>

    <div class="container mt-5">
        <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
            <div class="carousel-inner mx-auto" style="width: 80%">
                <div class="carousel-item active">
                    <div class="container gridUsers p-4 align-items-center justify-content-center bg-white " style="border-radius: 10px; " >
                        {% if users|length > 0 %}
                            {% for atributo in atributos|slice(0, 6) %}
                                <article class="">
                                    <div class="imagenUser" style="background-image: url({{ asset('images/Perfiles/pexels-gabriel-santos-fotografia-2014649.jpg') }});"></div>
                                    <div class="mt-2 mb-1 row">
                                        <div class="col-8">
                                            <h5 class="card-title "  style="font-size:1.7vw;" >{{ atributo.nombre }}</h5>
                                            <p class="card-text " style="font-size:1.2vw;">Nacionalidad</p>
                                            <p class="card-text " style="font-size:1.2vw;">Edad</p>
                                        </div>
                                        <div class="col-4">
                                            <i class="bi bi-heart-fill" style="font-size:1.2vw;"></i>
                                            <i class="bi bi-chat-left-fill" style="font-size:1.2vw;"></i>
                                        </div>

                                    </div>
                                </article>
                            {% endfor %}
                        {% else %}
                            <div>No hay usuarios disponibles</div>
                        {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container gridUsers p-4 align-items-center justify-content-center bg-white " style="border-radius: 10px; " >
                        {% if users|length > 0 %}
                            {% for atributo1 in atributos|slice(0, 6) %}
                                <article class="">
                                    <div class="imagenUser" style="background-image: url({{ asset('images/Perfiles/pexels-edu-carvalho-2050994.jpg') }});" ></div>
                                    <div class="mt-2 mb-1 row">
                                        <div class="col-8">
                                            <h5 class="card-title "  style="font-size:1.7vw;" >{{ atributo1.nombre }}</h5>
                                            <p class="card-text " style="font-size:1.2vw;">Nacionalidad</p>
                                            <p class="card-text " style="font-size:1.2vw;">Edad</p>
                                        </div>
                                        <div class="col-4">
                                            <i class="bi bi-heart-fill" style="font-size:1.2vw;"></i>
                                            <i class="bi bi-chat-left-fill" style="font-size:1.2vw;"></i>
                                        </div>

                                    </div>
                                </article>
                            {% endfor %}
                        {% else %}
                            <div>No hay usuarios disponibles</div>
                        {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container gridUsers p-4 align-items-center justify-content-center bg-white " style="border-radius: 10px; " >
                        {% if users|length > 0 %}
                            {% for atributo2 in atributos|slice(0, 6) %}
                                <article class="">
                                    <div class="imagenUser" style="background-image: url({{ asset('images/Perfiles/pexels-daniel-xavier-1239291.jpg') }});" ></div>
                                    <div class="mt-2 mb-1 row">
                                        <div class="col-8">
                                            <h5 class="card-title "  style="font-size:1.7vw;" >{{ atributo2.nombre }}</h5>
                                            <p class="card-text " style="font-size:1.2vw;">Nacionalidad</p>
                                            <p class="card-text " style="font-size:1.2vw;">Edad</p>
                                        </div>
                                        <div class="col-4">
                                            <i class="bi bi-heart-fill" style="font-size:1.2vw;"></i>
                                            <i class="bi bi-chat-left-fill" style="font-size:1.2vw;"></i>
                                        </div>

                                    </div>
                                </article>
                            {% endfor %}
                        {% else %}
                            <div>No hay usuarios disponibles</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <style>
        .gridUsers{
            display: grid;
            /*gap: 0.8em;*/
            column-gap: 5vw;
            grid-template-columns: 20% 20% 20%;

        }
        .imagenUser {
            width: 12vw;
            height: 12vw;
            background-size: cover;
            background-position: center 15%;
            background-repeat: no-repeat;
            border-radius: 10px;
        }

    </style>


{% endblock %}
