{% extends 'baseMobile.html.twig' %}
{% block title %}Inicio - Adopta un Cubano{% endblock %}
{% block body %}




<div class="cuerpo">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="1" data-bs-touch="true" style=" justify-items: center; width: 100%" >
        <div class="carousel-inner">


            {% for i in 0..1 %} {# Creamos tantos slides como queramos de 6 en 6 #}
                {% set cont = 0 %} {#  contador creado para aumentar en 6 el rango del slice del for de usuarios pero aun no hay suficientes usuarios #}
                <div class="carousel-item {{ i == 0 ? 'active' : '' }}">
                    <div class="pplCard ">
                        {% if users|length > 0 %}
                            {% for user in users|slice(0+i, 1) %}

                                <div class="">

                                   <div class="fotoPerfil" style="background-image:  url({{  user.galeria ? asset('images/Perfiles/' ~ user.galeria.getFotoPerfil) : asset('images/fotodefecto.png') }}); background-size: cover;">
                                       <div class="infoCard">
                                           <h1>{{ user.username }}, Edad </h1>
                                       </div>
                                   </div>

                                        <div class="base">
                                            <i class="small bi bi-x-lg"></i>
                                            <div class="likeContainer"><i class="big bi bi-heart-fill {{   user.id in likesTotales ? 'matchOk' : 'matchKo' }}" data-id-match="{{ user.id }}" ></i></div>
                                            <i class="small bi bi-eye-fill"></i>

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        {% else %}
                            <div>No hay usuarios disponibles</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
    <style>

        .matchOk{
            color: #E86362;
        }

        .matchKo{
            color: #858585;
        }

        .cuerpo{
            padding: 25px 0;
        }
        .carousel-card{
            width: 300px;
            height: 600px;

        }
        .pplCard{
            position: relative;
            display: block;
            background-color: whitesmoke;
            border-radius: 15px;
        }

        .active{
            display: flex !important;
            justify-content: center;
        }
        .infoCard{
            background-color: rgba(0, 0, 0, 0.35);
            padding: 10px;
            width: 100%;
            position: absolute;
            bottom: 0px;


        }
        .infoCard h1{
            font-size: 42px;
            color: white;
            margin-bottom: 0;
        }
         .fotoPerfil{
            width: 300px;
            height: 500px;
            position: relative;
        }
        .base{
            display: flex;
            width: 100%;
            justify-content: space-between;
            height: 90px;
            align-items: center;
            padding: 0 35px;
            border-radius:0px 0px 50px 50px;
        }
        .likeContainer{
            background-color: #CE5353;
            width: 50%;
            height: 100%;
            margin: -10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .base .big{
            font-size: 42px;
        }
        .base .small{
            font-size: 26px;
            color: #CE5353;
        }
        .base .bi-eye-fill{
            font-size: 30px;
            color: #CE5353;
        }
    </style>
{% endblock %}

{% block abrirvideo %}
{% endblock %}

{% block cerrarvideo %}
{% endblock %}