{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}



{% block body %}
    {{ parent() }}
    {{  dump() }}
    <div class="container">
        <div class="card">
            <img src="{{ asset('images/imagenes_random/bannerCoche.PNG') }}">
        </div>
    </div>

    <div class="container mt-5">
        <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
            <div class="carousel-inner mx-auto" style="width: 80%">
                <div class="carousel-item active">
                    <div class="container gridUsers p-4 align-items-center justify-content-center bg-white mx-auto" style="border-radius: 10px; " >
                        {% if users|length > 0 %}
                            {% for user in users|slice(0, 6) %}
                                <div class="container-fluid contenedor-grid">
                                    <div class="imagenUser mx-auto " style="background-image: url({{ asset('images/Perfiles/' ~ user.galeria.getFotoPerfil) }});"></div>
                                    <div class="mt-2 mb-1 row">
                                        <div class="col-lg-7 col-12">
                                            <h5 class=" text-start " >{{ user.atributos.nombre }}</h5>
                                            <p class=" card-text text-start" >Nacionalidad</p>
                                            <p class="card-text text-start " >Edad</p>
                                        </div>
                                        <div class="col-lg-5 col-12 text-end">
                                            <i class="bi bi-heart-fill" ></i>
                                            <i class="bi bi-chat-left-fill" ></i>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>No hay usuarios disponibles</div>
                        {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container gridUsers p-4 align-items-center justify-content-center bg-white " style="border-radius: 10px; " >
                        {% if users|length > 0 %}
                            {% for atributo1 in atributos|slice(0, 6) %}
                                <div class="container-fluid contenedor-grid">
                                    <div class="imagenUser mx-auto" style="background-image: url({{ asset('images/Perfiles/pexels-edu-carvalho-2050994.jpg') }});" ></div>
                                    <div class="mt-2 mb-1 row">
                                        <div class="col-lg-7 col-12">
                                            <h5 class="  text-start" >{{ atributo1.nombre }}</h5>
                                            <p class="card-text text-start" >Nacionalidad</p>
                                            <p class="card-text text-start" >Edad</p>
                                        </div>
                                        <div class="col-lg-5 col-12 text-end">
                                            <i class="bi bi-heart-fill" ></i>
                                            <i class="bi bi-chat-left-fill" ></i>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>No hay usuarios disponibles</div>
                        {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container gridUsers p-4 align-items-center justify-content-center bg-white " style="border-radius: 10px; " >
                        {% if users|length > 0 %}
                            {% for atributo2 in atributos|slice(0, 6) %}
                                <div class="container-fluid contenedor-grid">
                                    <div class="imagenUser mx-auto" style="background-image: url({{ asset('images/Perfiles/pexels-daniel-xavier-1239291.jpg') }});" ></div>
                                    <div class="mt-2 mb-1 row">
                                        <div class="col-lg-7 col-12">
                                            <h5 class=" text-start" >{{ atributo2.nombre }}</h5>
                                            <p class="card-text text-start" >Nacionalidad</p>
                                            <p class="card-text text-start" >Edad</p>
                                        </div>
                                        <div class="col-lg-5 col-12 text-end">
                                            <i class="bi bi-heart-fill" ></i>
                                            <i class="bi bi-chat-left-fill" ></i>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>No hay usuarios disponibles</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <div class="container mt-5 bg-white  rounded " >
        <div class="row">
            <div class="col-lg-6 col-12 selectores  d-flex  ">
                <div class="col-2 d-flex  ">
                    <p class="mt-3">Edad</p>
                </div>
                <div class="col-10 mt-2">
                <span class="multi-range">
                    <input type="range" min="0" max="50" value="5" id="lower">
                    <input type="range" min="0" max="50" value="45" id="upper">
                </span>
                </div>
            </div>
            <div class="col-lg-6 col-12 filaUsuarios d-flex">
                <div class="col-2 d-flex  ">
                    <p class="mt-3">Edad</p>
                </div>
                <div class="col-10 mt-2">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <style>
        .gridUsers{
            display: grid;
            /*gap: 0.8em;*/
            /*column-gap: 3vw;*/
            grid-template-columns: 33% 33% 33%;

        }
        .imagenUser {
            width: 13vw;
            height: 13vw;
            background-size: cover;
            background-position: center 15%;
            background-repeat: no-repeat;
            border-radius: 10px;
            box-shadow: 5px 5px 14px rgb(0 0 0 / 25%) !important;

        }

        .gridUsers p{
            font-size: 1vw;
            margin-bottom: 0;
        }
        .gridUsers h5{
            font-size: 1.2vw;
            margin-bottom: 0;
        }
        .gridUsers i{
            font-size: 1.4vw;
        }
        .contenedor-grid{

        }
        .container-fluid{
            width: auto;

        }
        .bi-heart-fill{
            color: #E86362;
        }
        .bi-chat-left-fill{
            color: #5875AF;
        }


    </style>


{% endblock %}
