{% extends 'base.html.twig' %}


{% block title %}Inicio - Adopta un Cubano{% endblock %}

{% block header %}
    {{ parent() }}
    <script>
        //JS para el selector de rango doble
        //----------------------------------------

        window.onload = function() {
            var lowerSlider = document.querySelector('#lower'),
            upperSlider = document.querySelector('#upper'),
            lowerVal = parseInt(lowerSlider.value);

            upperVal = parseInt(upperSlider.value);

            upperSlider.oninput = function() {
                lowerVal = parseInt(lowerSlider.value);
                upperVal = parseInt(upperSlider.value);

                if (upperVal < lowerVal + 4) {
                    lowerSlider.value = upperVal - 4;

                    if (lowerVal == lowerSlider.min) {
                        upperSlider.value = 4;
                    }
                }
            };


            lowerSlider.oninput = function() {
                lowerVal = parseInt(lowerSlider.value);
                upperVal = parseInt(upperSlider.value);

                if (lowerVal > upperVal - 4) {
                    upperSlider.value = lowerVal + 4;

                    if (upperVal == upperSlider.max) {
                        lowerSlider.value = parseInt(upperSlider.max) - 4;
                    }

                }
            };
        };
        //JS para el selector de rango doble
        //----------------------------------------

        //share de redes sociales



    </script>
{%  endblock %}



{% block body %}
    {{ parent() }}



    <div class=" mt-5">
        <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel" >

            <div class="carousel-inner mx-auto" style="width: 80%">

                {% for i in 0..2 %} {# Creamos tantos slides como queramos de 6 en 6 #}
                    {% set cont = 0 %} {#  contador creado para aumentar en 6 el rango del slice del for de usuarios pero aun no hay suficientes usuarios #}
                    <div class="carousel-item {{ i == 0 ? 'active' : '' }}">
                        <h1 style="color: white">Lista de usuarios</h1>
                        <div class=" gridUsers p-4 align-items-center justify-content-center bg-white mx-auto" style="border-radius: 20px; padding: 3rem !important; " >
                            {% if users|length > 0 %}
                                {% for user in users|slice(0+i, 6) %}

                                    <div class="">
                                        <a href="{{ path('perfiles',{id:user.id}) }}"><div class="imagenUser mx-auto " style="background-image: url({{  user.galeria ? asset('images/perfiles/' ~ user.galeria.getFotoPerfil) : asset('images/fotodefecto.png') }});"></div></a>
                                        <div class="mt-2 mb-1 d-flex flex-wrap justify-content-center">
                                            <div class="me-4">
                                                <h5 class="  " >{{ user.nombre }}</h5>
                                                <p class=" card-text text-start" >{{  user.atributos and user.atributos.getNacionalidad ? user.atributos.getNacionalidad : "Nacionalidad no definida" }}</p>
                                                <p class="card-text text-start " >{{  user.atributos and user.atributos.getFechaNac ? user.atributos.getFechaNac|date("d/m/Y") : "Edad no definida" }}</p>
                                            </div>
                                            <div class="">
                                                <i class="bi bi-heart-fill {{   user.id in likesTotales ? 'matchOk' : 'matchKo' }}" data-id-match="{{ user.id }}" ></i>
                                                <div>{{ time_diff(user.horaconexion| date() , 'now' | date() ) }}</div>
                                            </div>


                                        </div>
                                    </div>

                                {% endfor %}
                            {% else %}
                                <div>No hay usuarios disponibles</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


   <!-- <div class=" mt-5 bg-white  rounded p-4 w-75 mx-auto " >
        <div class=" mb-2 d-flex flex-wrap">
            <div class="col-lg-6 col-12 selectores  d-flex align-items-center ">
                <div class="col-2 d-flex justify-content-center ">
                    <p class="mt-3">Edad</p>
                </div>
                <div class="col-10 mt-2 justify-content-center">
                <span class="multi-range ">
                    <input type="range" min="0" max="50" value="5" id="lower">
                    <input type="range" min="0" max="50" value="45" id="upper">
                </span>
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2 mb-lg-0 filaNacionalidad d-flex align-items-center">
                <div class="col-4 d-flex justify-content-center ">
                    <p class="">Nacionalidad</p>
                </div>
                <div class="col-8  justify-content-center">
                    <select class="form-select form-select-sm w-75" aria-label=".form-select-sm example">
                        <option selected>Seleccione...</option>
                        <option value="1">Argentino</option>
                        <option value="2">Cubano</option>
                        <option value="3">Ejpaniol</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="">
            <div class="gridBusquedaRapida ">
                {% if users|length > 0 %}
                    {% for user in users|slice(0, 5) %}
                        <div class=" ">
                            <div class="imagenUser mx-auto" style="background-image: url({{  user.galeria ? asset('images/perfiles/' ~ user.galeria.getFotoPerfil) : asset('images/fotodefecto.png') }});"></div>
                            <div class="mt-2 mb-1 ms-3 me-3 d-flex flex-wrap">
                                <div class="col-lg-7 col-12">
                                    <h5 class=" text-start">{{ user.nombre }}</h5>
                                    <p class="card-text text-start">Nacionalidad</p>
                                    <p class="card-text text-start">Edad</p>
                                </div>
                                <div class="col-lg-5 col-12 text-end">
                                    <i class="bi bi-heart-fill  {{   user.id in likesTotales ? 'matchOk' : 'matchKo' }}" data-id-match="{{ user.id }}" ></i>
                                    <i class="bi bi-chat-left-fill"></i>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>No hay usuarios disponibles</div>
                {% endif %}
            </div>
        </div>

    </div>
    -->
    <div style="margin-bottom: 50px">
        <h1 style="color: white;margin-left: 250px; margin-top: 20px">Últimos usuarios</h1>
        <div class="gridConsultas bg-white p-4 mx-auto w-75">
            {% if users|length > 0 %}
                {% for userConsultas in users|slice(0, 3) %}
                    <div class="imagenUser" style="background-image: url({{  userConsultas.galeria ? asset('images/perfiles/' ~ userConsultas.galeria.getFotoPerfil) : asset('images/fotodefecto.png') }});"></div>
                {% endfor %}
                {% for userConsultas in users|slice(0, 3) %}
                    <h5 >{{ userConsultas.nombre }}</h5>
                {% endfor %}
                {% for userConsultas in users|slice(0, 3) %}
                    <p class="card-text text-start">{{  userConsultas.atributos and userConsultas.atributos.getNacionalidad ? userConsultas.atributos.getNacionalidad : "Nacionalidad no definida" }}</p>
                {% endfor %}
                {% for userConsultas in users|slice(0, 3) %}
                    <p class="card-text text-start">{{ userConsultas.atributos and userConsultas.atributos.getFechaNac ? userConsultas.atributos.getFechaNac|date("d/m/Y") : "Edad no definida"  }}</p>
                {% endfor %}
                <button onclick="window.open('/busqueda')" class="botonConsultas">Ver más</button>

            {% else %}
                <div>No hay usuarios disponibles</div>
            {% endif %}
        </div>
    </div>

    <style>



        .contenedor{
            display: flex;
            flex-direction: column;
            justify-content: center;
            backdrop-filter: blur(10000px);
        }
        .gridUsers{
            display: grid;
            gap: 0.8em;
            /*column-gap: 3vw;*/
            grid-template-columns: 33% 33% 33%;
        }
        .imagenUser {
            width: 13vw;
            height: 13vw;

            background-size: cover;
            background-position: center 15%;
            background-repeat: no-repeat;
            border-radius: 10px;
            box-shadow: 10px 22px 23px rgb(0 0 0 / 15%);

        }
        .gridUsers p{
            font-size: 1vw;
            margin-bottom: 0;
        }
        .gridUsers h5{
            font-size: 1.2vw;
            margin-bottom: 0;
        }
        .gridUsers i{
            font-size: 1.4vw;
        }
        .container{
            width: auto;

        }
        .bi-heart-fill:hover{
            cursor: pointer;
        }
        .matchOk{
            color: #E86362;
        }

        .matchKo{
            color: #858585;
        }

        .bi-chat-left-fill{
            color: #5875AF;
        }
        .filaNacionalidad p{
            margin: 0;
            font-size: 12px

        }
        .selectores{
            font-size: 12px;

        }
        .gridBusquedaRapida{
            display: grid;
            grid-template-columns: repeat(5,0.8fr);
            grid-auto-rows: minmax(100px,auto);
            justify-content: center;
        }

        .gridBusquedaRapida p{
            font-size: 1vw;
            margin-bottom: 0;
        }
        .gridBusquedaRapida h5{
            font-size: 1.2vw;
            margin-bottom: 0;
        }
        .gridBusquedaRapida i{
            font-size: 1.4vw;
        }

        .gridConsultas{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: minmax(max-content, auto);
            justify-items: center;
            border-radius: 20px;


        }

        .botonConsultas{
            grid-column: 1/4;
            justify-self: end;
        }

        .gridConsultas p, .gridConsultas h5{
            margin-left: 1em;
            font-size: 1.2vw;
        }

        .gridConsultas .imagenUser{
            margin-bottom: 10px;
        }

        .botonConsultas{
            background-color: #CE5353;
            color: white;
            border: none;
            border-radius: 100px;
            width: 100px;
            box-shadow: 5px 3px 8px 1px rgb(0 0 0 / 33%);
        }

        .botonConsultas:hover{
            background-color: darkred;

    </style>


{% endblock %}


