{% extends 'baseMobile.html.twig' %}
{% block title %}Chat - Adopta un Cubano{% endblock %}
{% block body %}

    <div class="chatHeader">
        <div onclick="window.location.href = '{{ path('mensajes') }}'" class="patras">
            <i class="bi bi-arrow-left"></i>
            <div class="imgUser" style="background-image: url('{{asset(fotOtro == 'fotodefecto.png' ? 'images/' ~ fotOtro : 'images/perfiles/' ~ fotOtro) }}');margin-right: 10px"></div>
        </div>
        <h1>{{ nombreOtro }}</h1>
        <i class="bi bi-three-dots-vertical" id="flag1"></i>

        <div id="desplegableChatOn">
            <p>Visitar perfil</p>
            <p>Eliminar conversación</p>
        </div>

    </div>
    {% if  mensajes %}
        {%  if mensajes[0].conversacion.emisor.id == login.id or mensajes[0].conversacion.remitente.id == login.id %}
            <div class="contenido">
                <div class="mensajes d-flex flex-column">
                    {% for mensaje in mensajes %}
                        {% if mensaje.usuario.id  == login.id %}
                            <div class="ms-auto">
                                <p class="bocadillo" data-id-mensaje="{{ mensaje.id }}" >{{ mensaje.texto }}</p>
                            </div>
                        {% else %}
                            <div class="me-auto">
                                <p class=" bocadillo" data-id-mensaje="{{ mensaje.id }}">{{ mensaje.texto }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>


                <div class="formularioChat">
                    <form id="envioMensaje" autocomplete="off" >
                        <input id="textoChat" type="textarea" placeholder="Escribe tu mensaje" data-id-emisor="{{login.id}}" data-id-chat="{{ mensajes[0].conversacion.id  }}" />
                        <input type="hidden" value="">
                        <button id="btnEnviar" type="submit" value="enviar"><i class="bi bi-shift-fill"></i></button>
                    </form>
                </div>
            </div>
        {% endif %}
    {% else %}
        {% for conversacion in conversaciones %}
            {%  if conversacion.id == request.get('id') %}
                <div class="contenido">
                    <p class="noMensaje">Esta conversacion no tiene mensajes</p>
                    <div class="formularioChat">
                        <form id="envioMensaje" autocomplete="off">
                            <input id="textoChat" type="textarea" placeholder="Escribe tu mensaje" autocomplete="nope" data-id-emisor="{{login.id}}" data-id-chat="{{ conversacion.id  }}" />
                            <input type="hidden" value="">
                            <input id="btnEnviar" type="submit" value="↑" />
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <style>
        .contenido{
            display: grid;
            grid-template-columns: 100%;
            grid-auto-rows: auto 60px;
            height: 100%;
            width: 100%;
            padding: 80px 0;

        }
        .chatHeader{
            display: flex;
            position: fixed;
            align-items: center;
            width: 100%;
            background-color:#CE5353;
            padding: 5px;
            color:white;
        }
        .patras{
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .chatHeader h1{
            margin: 0;
            font-size: 18px;
            font-weight: 550;
        }

        .chatHeader .bi-three-dots-vertical{
            position: absolute;
            font-size: 22px;
            right: 15px;
        }
        .formularioChat{
            display: flex;
            position:fixed;
            bottom: 0;
            justify-content: space-between;
            height: 75px;
            width: 100%;
            background-color:rgba(0, 0, 0);
            align-items: center;
            padding: 0 20px;

        }
        #envioMensaje{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .imgUser{
            width: 50px;
            height: 50px;
            border-radius: 100px;
            background-size: cover;
            background-position: center;
            margin-right: 20px;
        }

        .mensajes{
            row-gap: 10px;
            padding: 10px 0;
            overflow: auto;
            /*place-content: flex-end;*/

        }
        .bocadillo{
            padding: 8px 15px;
            background-color: whitesmoke !important;
            margin: 0 10px !important;
            border-radius: 100px !important;

        }

        #textoChat{
            padding-left: 15px;
            border-radius: 100px;
            font-family: Metropolis;
            border: none;
            background-color: white !important;
            width: 95%;
            height: 35px;
            box-shadow: 1px 8px 8px -5px rgb(0 0 0 / 31%);
        }
        #textoChat:focus{
            border: none;
            outline: none;
        }
        #btnEnviar{
            background-color: #CE5353;
            border: none;
            width: 45px;
            height: 40px;
            margin-left: 30px;
            color: whitesmoke;
            border-radius: 200px;
            box-shadow: 1px 8px 8px -5px rgb(0 0 0 / 31%);
            font-size: 18px;
        }
        #btnEnviar:hover{
            cursor: pointer;
            background-color: #843636;
        }
        #btnEnviar i{
            font-size: 24px;
        }
        #desplegableChatOn{
            position: absolute;
            right: 0;
            top: 0;
            padding: 20px 20px 0 20px;
            background-color: #CE5353;
            color: whitesmoke;
            display: none;
            box-shadow: 0px 3px 17px 3px rgb(0 0 0 / 31%);
        }

        #desplegableChatOn p{
            margin-bottom:20px ;
        }

        .noMensaje{
            display: flex;
            background-color: white;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 100%;
            color: #CE5353;
            margin: auto 0;
            box-shadow: 0px 3px 17px 3px rgb(0 0 0 / 31%);
        }

    </style>

    <script>
        var desplegableChat = document.getElementById('desplegableChatOn');

        window.addEventListener('click', function(e){
            if (document.getElementById('flag1').contains(e.target) || document.getElementById('desplegableChatOn').contains(e.target)){
                desplegableChat.style.display = 'block'
            } else{
                desplegableChat.style.display = 'none'
            }
        });


    </script>
{% endblock %}
{% block footer %}
{% endblock %}