{% extends 'baseLimpia.html.twig' %}
{% block title %}Chat - Adopta un Cubano{% endblock %}


{% block body %}
        <div class="gridMain">
            <div class="cabecera text-white">
                <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle me-3 mt-2 mb-2" >
                <p style="font-size: 28px; font-weight: bolder;">{{ login.nombre }}</p>
                <i class="bi bi-search ms-5"></i>
                <i class="bi bi-three-dots-vertical ms-3"></i>
                <i onclick="window.location.href = '{{ path('homepage') }}'" class="bi bi-house-door-fill align-self-start ms-5 me-3" style="padding: 5px 5px; cursor: pointer;"></i>
                <div class="infoCabecera ms-auto me-2" >
                    <p style="font-size: 10px">Nacionalidad, Age</p>
                    <p style="font-size: 15px">Nombre</p>
                </div>
                <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle ">

            </div>
            <div class="conversation">
                <div class="conversaciones">
                    {% if conversaciones %}
                        {% for conversacion in conversaciones %}
                            {% if conversacion.emisor.id == login.id %}
                                <a href="{{ path('conversaciones',{id:conversacion.id}) }}" style=" text-decoration: none;">
                                    <div class="mensaje {{ conversacion.id == request.get('id') ? 'mensajeSeleccionado' : '' }}">
                                        <div class="imgUser" style="background-image: url('{{ conversacion.remitente.galeria ? asset('images/Perfiles/' ~ conversacion.remitente.galeria.getFotoPerfil) : asset('images/fotodefecto.png') }}');margin-right: 10px"></div>
                                        <div class="infoMensaje" >
                                            <h1>{{ conversacion.remitente.username }}</h1>
                                            <p style="font-size: 11px; color: black">Mensaje..........</p>
                                        </div>
                                        <div class="notificacionMensaje ms-auto rounded-circle text-white">
                                            2
                                        </div>
                                    </div>
                                </a>
                            {% else %}
                                <a href="{{ path('conversaciones',{id:conversacion.id}) }}" style=" text-decoration: none;">
                                    <div class="mensaje {{ conversacion.id == request.get('id') ? 'mensajeSeleccionado' : '' }}" >
                                        <div class="imgUser" style="background-image: url('{{ conversacion.remitente.galeria ? asset('images/Perfiles/' ~ conversacion.remitente.galeria.getFotoPerfil) : asset('images/fotodefecto.png') }}');margin-right: 10px"></div>
                                        <div class="infoMensaje" >
                                            <h1>{{ conversacion.emisor.username }}</h1>
                                            <p style="font-size: 11px; color: black">Mensaje..........</p>
                                        </div>
                                        <div class="notificacionMensaje ms-auto rounded-circle text-white">
                                            2
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="text-center mt-5">No tienes conversaciones aun <3</p>
                    {% endif %}
                </div>
                <div class="conversacion ">
                    {%  block contenido %}
                    {%  endblock %}
                </div>
            </div>
        </div>

    <style>
        .mensajes::-webkit-scrollbar{
            background: none;
            width: 15px;
        }
        .mensajes::-webkit-scrollbar-track{
            background-color: rgba(0, 0, 0, 0.3);
        }
        .mensajes::-webkit-scrollbar-track-piece{
            height: 15px;
        }
        .mensajes::-webkit-scrollbar-thumb{
            background:#E1E1E1;
            border-radius: 100px;
            width: 2px;
        }
        header{
            display: none;
        }
        footer{
            display: none;
        }
        body{
            justify-content: center;
            display: flex;
            height: 100%;
            flex-direction: column;
            background-color: #2c3034;
            background-image: url("{{ asset('images/Backgrounds/pattern_chat.png') }}");
            background-size: 200px 200px;
            background-repeat: repeat;
        }


        html{
            height: 100%;
            background-color: #2c3034;
            background-image: url("{{ asset('images/Backgrounds/pattern_chat.png') }}");
            background-size: 200px 200px;
            background-repeat: repeat;
        }
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2.0),
        only screen and (   min--moz-device-pixel-ratio: 2.0),
        only screen and (     -o-min-device-pixel-ratio: 2.0/1),
        only screen and (        min-device-pixel-ratio: 2.0),
        only screen and (                min-resolution: 264dpi),
        only screen and (                min-resolution: 2.0dppx) {

            .gridMain {
                height: 100vh;
                display: flex;
                flex-direction: column;
                margin: 0 !important;
                box-shadow: 0px 0px 30px 30px rgb(0 0 0 / 31%);
            }
            .conversation{
                height: 94vh !important;
            }
            .cabecera{
                height: 6vh;
            }

        }
        @media (max-width: 1600px) {

            .gridMain{

                height: 100vh;
                display: flex;
                flex-direction: column;
                margin:0 !important;
                box-shadow: 0px 0px 30px 30px rgb(0 0 0 / 31%);
            }
            .conversation{
                height: 94vh!important;
            }
            .cabecera{
                height: 6vh;
            }

            }



        .gridMain{
            margin: 2vh 20%;
            height: 100%;
            display: flex;
            flex-direction: column;

            box-shadow: 0px 0px 30px 30px rgb(0 0 0 / 31%);
        }
        .conversacion{
            display: flex;
        }

        .cabecera{
            height: 6vh;
            background-color: #CE5353;
            display: flex;
            flex-direction: row;
            padding: 0 10px;
            align-items: center;
            z-index: 1;
            box-shadow: 0px 3px 23px 10px rgb(0 0 0 / 31%);
        }
        .cabecera p{
            margin: 0;
        }
        .bi-house-door-fill{
            font-size: 18px;
            font-weight: bolder;
            color: #ce5353;
            box-shadow: 0px 0px 20px 6px rgb(0 0 0 / 31%);
            background-color: #f5f5f5;
        }
        .conversation{
            display: flex;
            height: 92vh;
            flex-direction: row;
        }
        .conversaciones{
            width: 28rem;
            background-color: #E1E1E1;
            display: flex;
            flex-direction: column;
            overflow: auto;

        }
        .imgUser{
            width: 40px;
            height: 40px;
            border-radius: 100px;
            background-size: cover;
            background-position: center;
            margin-right: 20px;
        }
        .mensaje{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px 20px;
            box-shadow: 0px 3px 10px -6px rgb(0 0 0 / 35%);
        }
        .mensaje:hover{
            background-color: lightgray;
        }
        .mensaje *{
            margin: 0;
            font-weight: bolder;
        }
        .mensaje h1{
            font-size: 18px;
            color: #CE5353;
        }
        .mensajeSeleccionado{
            background-color: lightgray;
        }
        .notificacionMensaje{
            background-color: #CE5353;
            width: 25px;
            height: 25px;
            text-align: center;
        }
        .conversacion{
            display: flex;
            width:100% ;
            background-size: 500px 500px;
            background-repeat: repeat;
            background-image: url({{ asset('images/Backgrounds/pattern_3.0.png') }});

        }



    </style>
{% endblock %}




