{% extends 'baseLimpia.html.twig' %}



{% block body %}

        <div class="gridMain">
            <div class="cabecera text-white">
                <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle me-3 mt-2 mb-2" >
                <p style="font-size: 28px; font-weight: bolder;">{{ login.nombre }}</p>
                <i class="bi bi-search ms-5"></i>
                <i class="bi bi-three-dots-vertical ms-3"></i>
                <i onclick="window.location.href = '{{ path('homepage') }}'" class="bi bi-house-door-fill align-self-start ms-5 me-3" style="background-color: #5875AF; padding: 2px 7px; cursor: pointer;"></i>
                <div class="infoCabecera ms-auto me-2" >
                    <p style="font-size: 10px">Nacionalidad, Age</p>
                    <p style="font-size: 15px">Nombre</p>
                </div>
                <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle ">

            </div>
            <div class="conversaciones">
                {% if conversaciones %}
                    {% for conversacion in conversaciones %}
                        {% if conversacion.emisor.id == login.id %}
                            <a href="{{ path('conversaciones',{id:conversacion.id}) }}" style=" text-decoration: none;">
                                <div class="mensaje {{ conversacion.id == request.get('id') ? 'bg-warning' : '' }}">
                                    <img src="{{ conversacion.remitente.galeria ? asset('images/Perfiles/' ~ conversacion.remitente.galeria.getFotoPerfil) : asset('images/fotodefecto.png') }}" alt="mdo" width="40" height="40" class="rounded-circle  me-3">
                                    <div class="infoMensaje" >
                                        <p style="font-size: 15px; color: #CE5353">{{ conversacion.remitente.username }}</p>
                                        <p style="font-size: 11px; color: black">Mensaje..........</p>
                                    </div>
                                    <div class="notificacionMensaje ms-auto rounded-circle text-white">
                                        2
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a href="{{ path('conversaciones',{id:conversacion.id}) }}" style=" text-decoration: none;">
                                <div class="mensaje p-3 border-bottom border-1 border-dark {{ conversacion.id == request.get('id') ? 'bg-warning' : '' }}" >
                                    <img src="{{ conversacion.emisor.galeria ? asset('images/Perfiles/' ~ conversacion.emisor   .galeria.getFotoPerfil) : asset('images/fotodefecto.png') }}" alt="mdo" width="40" height="40" class="rounded-circle  me-3">
                                    <div class="infoMensaje" >
                                        <p style="font-size: 15px">{{ conversacion.emisor.username }}</p>
                                        <p style="font-size: 11px">Mensaje..........</p>
                                    </div>
                                    <div class="notificacionMensaje ms-auto rounded-circle text-white">
                                        2
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="text-center mt-5">No tienes conversaciones aun <3</p>
                {% endif %}
            </div>
            <div class="conversacion ">
                {%  block contenido %}
                {%  endblock %}
            </div>
        </div>


    <style>

        header{
            display: none;
        }
        footer{
            display: none;
        }
        body{
            display: flex;
            flex-direction: column;

        }
        html, body {
            height: 100%;
        }
        .gridMain{
            display: grid;
            grid-template-rows: min-content;
            grid-template-areas:
                "cabecera cabecera cabecera cabecera cabecera"
                "mensajes conversacion conversacion conversacion conversacion";
            height: 100%;
        }


        .cabecera{
            grid-area: cabecera;
            background-color: #CE5353;
            display: flex;
            flex-direction: row;
            padding: 0 10px;
            align-items: center;
            z-index: 1;
            box-shadow: 0px 3px 23px 10px rgb(0 0 0 / 31%);
        }
        .cabecera p{
            margin: 0;
        }

        .conversaciones{
            grid-area: mensajes;
            background-color: #E1E1E1;
            display: flex;
            flex-direction: column;
            overflow: auto;

        }
        .mensaje{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px 20px;
            box-shadow: -2px 4px 8px -5px rgb(0 0 0 / 50%);
        }
        .mensaje:hover{
            background-color: lightgray;
        }
        .mensaje p{
            margin: 0;
        }
        .notificacionMensaje{
            background-color: #CE5353;
            width: 25px;
            height: 25px;
            text-align: center;
        }
        .conversacion{
            grid-area: conversacion;
            background-size: 500px 500px;
            background-repeat: repeat;
            background-image: url({{ asset('images/Backgrounds/pattern_1.0.png') }});

        }

        .conversacion{
            height: calc(100vh - 56px);
            display: flex;
        }


    </style>
{% endblock %}




