{% extends 'baseMobile.html.twig' %}
{% block title %}Chat - Adopta un Cubano{% endblock %}
{% block subheader %}
{% endblock %}
{% block body %}

    <div class="cuerpo">
        <div class="bodyHeader">
            <h1>Contactos</h1>
            <div class="iconosHeader">
                <i class="bi bi-three-dots-vertical"></i>
            </div>
        </div>

        <div class="conversaciones">
            {% if conversaciones %}
                {% for conversacion in conversaciones %}
                    {% if conversacion.emisor.id == login.id %}
                        <a href="{{ path('conversaciones',{id:conversacion.id}) }}" style=" text-decoration: none;">
                            <div class="mensaje {{ conversacion.id == request.get('id') ? 'mensajeSeleccionado' : '' }}">
                                <div class="fotoMensaje" style="background-image: url('{{ conversacion.remitente.galeria ? asset('images/perfiles/' ~ conversacion.remitente.galeria.getFotoPerfil) : asset('images/fotodefecto.png') }}')"></div>
                                <div class="infoMensaje" >
                                    <h1>{{ conversacion.remitente.username }}</h1>
                                    <p style="font-size: 11px; color: black">Mensaje..........</p>
                                </div>

                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('conversaciones',{id:conversacion.id}) }}" style=" text-decoration: none;">
                            <div class="mensaje {{ conversacion.id == request.get('id') ? 'mensajeSeleccionado' : '' }}" >
                                <div class="fotoMensaje" style="background-image: url('{{ conversacion.emisor.galeria ? asset('images/perfiles/' ~ conversacion.emisor.galeria.getFotoPerfil) : asset('images/fotodefecto.png') }}')"></div>
                                <div class="infoMensaje" >
                                    <h1>{{ conversacion.emisor.username }}</h1>
                                    <p style="font-size: 11px; color: black">Mensaje..........</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="text-center mt-5">No tienes conversaciones aun <3</p>
            {% endif %}
        </div>



    </div>




    <style>
        .main-content{
            margin-top: 13px !important;
        }
        .cuerpo{
            width: 100%;
            height: 100%;
            background-color: #E1E1E1;
        }
        .bodyHeader{
            display: flex;
            align-items: center;
            height: 13%;
            width: 100%;
            padding: 0 15px;
            color: #E1E1E1;
            background-color: #CE5353;
            font-weight: lighter;
        }
        .bodyHeader h1{
            width: 85%;
            margin-bottom: 0;
            font-size: 22px;
            font-weight: 600;
        }
        .bodyHeader i{
            font-size: 28px;
            margin-left: 15px;
        }
        .iconosHeader{
            display: flex;
            justify-content: flex-end;
        }
        .mensaje{
            display: flex;
            padding: 15px 0 10px 15px;
            align-items: center;
            box-shadow: -2px 4px 8px -5px rgb(0 0 0 / 31%);
        }
        .fotoMensaje{
            width: 40px;
            height: 40px;
            background-size: cover;
            background-position: center;
            background-color:  #CE5353;
            border-radius: 100px;
            margin-right: 15px;
        }
        .infoMensaje h1{
            font-size: 18px;
            color: #CE5353;
            font-weight: 600;
            margin-bottom: 0;
        }
    </style>
{% endblock %}
