{% extends '/mi_cuenta/index.html.twig' %}

{% block title %}Ajustes de cuenta - Adopta un Cubano{% endblock %}

{% block body %}
    {{ parent() }}
    {{ dump() }}

{% endblock %}

{% block texto %}
    <h2>Ajustes</h2>
    <div class="editarAjustes"><a href=" {{ path('editarajustes') }}" style="text-decoration: none; color: white"><p class="title p-2" >Editar ajustes</p></a></div>
{% endblock %}

{% block primerIcono %}
    bi-gear-fill
{% endblock%}

{% block segundoIcono %}
    bi-person-fill
{% endblock%}


{% block contenido %}

    {%  block formstart %}

    {% endblock %}

    <div class="gridAjustes" >
        <div class="editarCampos">
            <h3>Nombre</h3>
            <p>{% block nombre %}{{ login.nombre }}{% endblock %}</p>
        </div>

        <div class="editarCampos">
            <h3>Apellidos</h3>
            <p class="campoEditable">{% block apellido1 %}{{ login.apellido1 }}{% endblock %}</p>
        </div>

        <div class="editarCampos">
            <h3>Correo electrónico</h3>
            <p>{% block email %}{{ login.email }}{% endblock %}</p>
        </div>
    </div>

    {%  block formend %}

    {% endblock %}



    <style>

        .grid-menu{
            margin-top: 50px;
        }

        .gridAjustes h3,p{
            display: grid;
            grid-auto-rows: minmax(1,auto);
            padding: 10px 0 0 30px;

        }
        .gridAjustes h3{
            color: #CE5353;
            font-weight: bold;
        }
        .editarCampos{
            border-bottom: solid 0px;
            box-shadow: -2px 2px 6px -3px rgb(0 0 0 / 31%);
            padding: 20px 0;
        }

        .editarCampos p{
            font-size: 20px;
        }

    </style>
{% endblock %}