{% extends 'baseMobile.html.twig' %}

{% block title %} Ajustes perfil - Adopta un Cubano{% endblock %}
{% block share %}
{% endblock %}
{% block body %}

    <div class="cuerpo" >
        <div class="encabezado">
            <h1>Ajustes</h1>
        </div>


        <div class="editarCampos">
            <h3>Nombre</h3>
            {% block nombre%} <p>{{ login.nombre }}</p>{% endblock %}
        </div>


        <div class="editarCampos">
            <h3>Apellidos</h3>
            {%  block apellido1 %} <p class="campoEditable">{{ login.apellido1 }}</p>{% endblock %}
        </div>


        <div class="editarCampos">
            <h3>Correo electrónico</h3>
            {% block email %} <p>{{ login.email }}</p>{% endblock %}
        </div>

    {% block password%}
    {% endblock %}

        <div class="editarCampos contraseña" style="display: none">
            <h3>Contraseña</h3>
            <p>{{ login.password }}</p>
        </div>


    </div>
    {% block botoneditar %}<div class="botonEditar"> <i onclick="window.location.href = '{{ path('editarajustes') }}'" class="bi bi-pencil-fill"></i></div>{% endblock %}
    {% block botonatras %}{%  endblock %}


    <style>
        .botonEditar{
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 10px;
            top: 110px;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            background-color: whitesmoke;
            box-shadow: 0px 3px 17px 3px rgb(0 0 0 / 31%);
            color: #CE5353;
        }
        .cuerpo{
            width: 100%;
            height: 100%;
            background-color: whitesmoke;
        }

        .encabezado{
            width: 100%;
            height: 75px;
            background-color: #CE5353;
            display: flex;
            align-items: center;
            padding-left: 20px;
            box-shadow: -2px 4px 6px -1px rgb(0 0 0 / 60%);

        }
        .encabezado h1{

            color: white;
            font-size: 36px;
            font-weight: bold;
        }
        .cuerpo h3,p{
            padding:0 0 0 30px;

        }
        .cuerpo h3{
            color: #CE5353;
            font-weight: bold;
            padding-top: 10px;
        }
        .editarCampos{
            border-bottom: solid 0px;
            box-shadow: -2px 2px 6px -3px rgb(0 0 0 / 31%);
            padding: 20px 0;
        }
        .editarCampos p{
            font-size: 18px;
            width: 100%;
        }

    </style>
{% endblock %}