{% extends '/mi_cuenta/perfil.html.twig' %}

{% block editarperfil %} <div class="editarPerfil"><a href=" {{ path('perfil') }}"><p class="title p-2">Volver al perfil</p></a></div>  {% endblock %}

{%  block formstart %}
    {{ form_start(form_atributos, {'attr': {'class': 'formulario'}}) }}
{% endblock %}


{# Aqui hacemos un if rapido  en 'value' en una sola linea y ponemos por defecto el valor del usuario si existe en la base de datos sino lo dejamos en blanco #}
{% block nacionalidad %}  {{ form_row(form_atributos.nacionalidad,{ 'label' : 'Nacionalidad','value' : login.atributos and login.atributos.getNacionalidad ? login.atributos.getNacionalidad : '' }) }} {% endblock %}

{% block edad %}  {{ form_row(form_atributos.fecha_nac,{ 'label' : 'Fecha Nacimiento','value' : ''}) }}  {% endblock %}

{% block ojos %}  {{ form_row(form_atributos.ojos,{ 'label' : false , 'value' : login.atributos and login.atributos.getOjos ? login.atributos.getOjos : ''}) }}  {% endblock %}

{% block pelo %}  {{ form_row(form_atributos.color_pelo,{ 'label' : false , 'value' : login.atributos and login.atributos.getColorPelo ? login.atributos.getColorPelo : ''}) }}  {% endblock %}

{% block profesion %}  {{ form_row(form_atributos.profesion,{ 'label' : false, 'value' : login.atributos and login.atributos.getProfesion ? login.atributos.getProfesion : '' }) }}  {% endblock %}

{% block ciudad %}  {{ form_row(form_atributos.ciudad,{ 'label' : false, 'value' : login.atributos and login.atributos.getCiudad ? login.atributos.getCiudad : '' }) }}  {% endblock %}

{% block altura %}  {{ form_row(form_atributos.altura,{ 'label' : false, 'value' : login.atributos and login.atributos.getAltura ? login.atributos.getAltura : ''  }) }}  {% endblock %}

{% block peso %}  {{ form_row(form_atributos.peso,{ 'label' : false, 'value' : login.atributos and login.atributos.getPeso ? login.atributos.getPeso : ''  }) }}  {% endblock %}

{% block gustos %}  {{ form_row(form_atributos.gustos,{ 'label' : false, 'value' : login.atributos and login.atributos.getGustos ? login.atributos.getGustos|join(', ') : ''  }) }}{% endblock %}

{% block descripcion %} {{ form_row(form_atributos.descripcion,{ 'label' : false, 'value' : login.atributos and login.atributos.getDescripcion ? login.atributos.getDescripcion: '' , 'attr': {'maxlength': 500}, }) }} {% endblock %}

{%  block formend %}
    {{ form_row(form_atributos.submit) }}
    {{ form_end(form_atributos) }}
{% endblock %}

{%  block estiloeditar %}
<style>

        #user_attributes_form_gustos input{
            margin-right: 2px;
        }

        #user_attributes_form_gustos label{
            margin-right: 15px;
        }

        .gridContenido input{
            max-width: 120px;
        }

        .gridContenido select{
            max-width: 120px;
        }

        .formulario{
            display:grid;
            grid-column:2/5;

        }

        .gustos{
            grid-column:1/5;
        }

        .descripcion{
            padding: 10px 15px 10px 0px !important;
        }
</style>

{% endblock %}

