{% extends '/mi_cuenta/index.html.twig' %}


{% block body %}
    {{ parent() }}


    <style>
        .gridContenido{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows: minmax(min-content,auto);
            background-color: #E1E1E1;

        }

        .fotoGrid{
            grid-row: 1/5;
        }

        .gustos{
            grid-column: 2/5;
        }

        .info{
            color: #CE5353;
        }
        .info h1{
            font-weight: bolder;
        }
         .editarPerfil{
             display: flex;
             grid-column: 3/5;
             background-color: #E1E1E1;
             color: white;
             align-items: center;
             justify-content: flex-end;


         }

         .editarPerfil p{
             background-color: #CE5353;
             border-top-left-radius: 360px;
             border-bottom-left-radius: 360px;
         }

         .imagenUsuario{
             width:200px;
             height: 200px;
             background-position: center;
             background-size: cover;
             border-radius: 10px;
         }

         .descripcion{
             grid-column: 1/5;
         }

        .galeria{
            grid-column: 1/5;
            display: grid;
            grid-template-columns: 1fr ;

         }
        .galeria p{
            background-color: #CE5353;
            border-top-right-radius: 360px;
            border-bottom-right-radius: 360px;
            justify-self: start;

        }

        .gridGaleria{
            display: grid;
            grid-template-areas:
                "foto foto foto"
                "foto foto foto";

            background-color: #E1E1E1;
            justify-items: center;
            place-content: center;
            gap: 2em;

        }

        @media screen and (max-width: 840px) {
            .gridGaleria {
                gap: 0 !important;
            }
            .imagenUsuario{
                width:150px;
                height: 150px;
            }
        }



    </style>

    {% block estiloeditar %}

    {% endblock %}


{% endblock %}

{% block contenido %}
    <div class="gridContenido">
        <div class="fotoGrid mt-4 mx-auto">
            {% if login.galeria and login.galeria.getFotoPerfil %}
                <div class="imagenUsuario m-2 " style="background-image: url({{ asset('images/Perfiles/' ~ login.galeria.getFotoPerfil) }});"></div>
            {% else %}
                <p>Sin foto de perfil</p>
            {% endif %}
        </div>

        {%  block formstart %}

        {% endblock %}

        <div class="info">
            <h1 class="title m-1 mt-4">
                {% if login and login.nombre %}
                    {{ login.nombre }}
                {% else %}
                    Marta
                {% endif %}
            </h1>
            {% block nacionalidad %}<p class="m-1" >{{  login.atributos and login.atributos.getNacionalidad ? login.atributos.getNacionalidad : "Nacionalidad no definida" }}</p>{% endblock %}
            {% block edad %}<p class="m-1" >{{  login.atributos and login.atributos.getFechaNac ? login.atributos.getFechaNac|date('d-m-Y') : "Edad no definida" }}</p>{% endblock %}
        </div>


        {% block editarperfil %} <div class="editarPerfil"><a href=" {{ path('editarperfil') }}"><p class="title p-2">Editar perfil</p></a></div> {% endblock %}
        <div>
            <h6 class="atributos m-2">OJOS</h6>
            {% block ojos %}<p class="atributos m-2">{{  login.atributos and login.atributos.getOjos ? login.atributos.getOjos : "Color de ojos no definido" }}</p>{% endblock %}
        </div>
        <div>
            <h6 class="atributos m-2">PELO</h6>
            {% block pelo %}<p class="atributos m-2">{{  login.atributos and login.atributos.getColorPelo ? login.atributos.getColorPelo : "Color de pelo no definido" }}</p>{% endblock %}
        </div>
        <div>
            <h6 class="atributos m-2">PROFESION</h6>
            {% block profesion %}<p class="atributos m-2">{{  login.atributos and login.atributos.getProfesion ? login.atributos.getProfesion : "Profesión no definida" }}</p>{% endblock %}
        </div>
        <div>
            <h6 class="atributos m-2">CIUDAD</h6>
            {% block ciudad %}<p class="atributos m-2">{{  login.atributos and login.atributos.getCiudad ? login.atributos.getCiudad : "Ciudad no definida" }}</p>{% endblock %}
        </div>
        <div>
            <h6 class="atributos m-2">ALTURA</h6>
            {% block altura %}<p class="atributos m-2">{{  login.atributos and login.atributos.getAltura ? login.atributos.getAltura : "Altura no definida" }}</p>{% endblock %}
        </div>
        <div>
            <h6 class="atributos m-2">PESO (KG)</h6>
            {% block peso %}<p class="atributos m-2">{{  login.atributos and login.atributos.getPeso ? login.atributos.getPeso : "Peso no definido" }}</p>{% endblock %}
        </div>
        <div class="gustos">
            <h6 class="atributos m-2">GUSTOS</h6>
            {% block gustos %}<p class="atributos m-2">{{  login.atributos and login.atributos.getGustos ? login.atributos.getGustos|join(', ') : "Gustos no definidos" }}</p>{% endblock %}
        </div>

        <div class="descripcion p-4">
            <p style="color: #CE5353; font-size: 18px;">Descripcion</p>
            <p> Why do we use it?
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>

        {%  block formend %}

        {% endblock %}

        <div class="galeria ">
            <p class="title p-2 text-white">Galeria</p>
            <div class="gridGaleria mt-4 mb-4">
                {% if login.galeria %}

                    {% if login.galeria.getFotoPerfil %}
                        <div class="imagenUsuario m-2 d-flex flex-column justify-content-end" style="background-image: url({{ asset('images/Perfiles/' ~ login.galeria.getFotoPerfil) }});">
                            <p class="p-1 pe-4 ps-2 text-white mb-2 align-self-start">Foto Perfil</p>
                        </div>
                    {% else %}
                        <div class="imagenUsuario m-2 " style="background-image: url({{ asset('images/fotodefecto.png') }});"></div>
                    {% endif %}

                    {% for i in 0..4 %}
                        {% if i < login.galeria.getGaleria|length %}
                            <div class="imagenUsuario m-2 " style="background-image: url({{ asset('images/Perfiles/' ~ login.galeria.getGaleria[i]) }});"></div>
                        {% else %}
                            <div class="imagenUsuario m-2 " style="background-image: url({{ asset('images/fotodefecto.png') }});"></div>
                        {% endif %}
                    {% endfor %}

                {% else %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block texto %}
    <p class="title">Perfil</p>
{% endblock %}