{% extends 'baseMobile.html.twig' %}

{% block title %}Búsqueda - Adopta un Cubano{% endblock %}

{% block body %}

    <div class="cuerpo">

        <div class="textoResultado">
            <h1>"Busqueda realizada"</h1>
            <p>_n resultados encontrados</p>
        </div>
        {% for resultado in resultados %}
            <div class="tarjeta">
                <div class="fotoBusqueda" style="background-image: url('{{ asset('images/perfiles/' ~ resultado.foto_perfil ~ '') }}');">

                    <a class="visitaPerfil" style="text-decoration: none" href="{{ path('perfiles',{id:resultado.id}) }}">
                        <i class="bi bi-eye-fill"></i>
                    </a>

                        <div class="infoFoto">


                            <div class="textoFoto">
                                <h1>{{ resultado.nombre ? resultado.nombre : 'Nombre' }} {{ resultado.fecha_nac ? date().diff(date(resultado.fecha_nac)).y : 'Edad' }}</h1>
                                <h4>{{ resultado.nacionalidad ? resultado.nacionalidad|country_name : "País" }}</h4>
                            </div>

                            <i class="bi bi-heart-fill {{   resultado.id in likesTotales ? 'matchOk' : 'matchKo' }}" data-id-match="{{ resultado.id }}"></i>

                        </div>

                    </div>
                    <i class="bi bi-eye-fill"></i>






                <div class="descripcion">
                    <h2 id="titulo">Descripción</h2>
                    <p id="cuerpoDescripción">{{  resultado.descripcion ? resultado.descripcion : "none" }}</p>
                </div>


                <div class="gustos">
                    <h2>Gustos</h2>
                    <p>{{ resultado.gustos ? resultado.gustos|join(', ') : "none" }}</p>
                </div>

            </div>
        {% endfor %}

        <div class="botonPaginas">
            {%  if previous >= 0 %}
                <a  href="{{  path('busqueda',{ busqueda: query, offset: previous  }) }}"> Anteriores </a>
            {%  endif %}
            {%  if next < resultados|length %}
                <a  href="{{  path('busqueda',{ busqueda: query, offset: next  }) }}"> Siguiente </a>
            {%  endif %}
        </div>


    </div>

    <style>
        .cuerpo{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
        }
        .textoResultado{
            color: whitesmoke;
            text-align: left;
        }
        .textoResultado h1{
            font-size: 24px;
        }
        .textoResultado p{
            font-size: 12px;
        }
        .tarjeta{
            width: 300px;
            height: 500px;
            background-color: #E1E1E1;
            margin-top: 50px;
        }
        .fotoBusqueda{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            height: 60%;
            background-size: cover;
            background-position: center;
            color: whitesmoke;
        }
        .visitaPerfil{
            position: absolute;
            top: 5px;
            right: 5px;
        }
        .bi-eye-fill{
            position: absolute;
            top: 10px;
            right: 15px;
            color: whitesmoke;
            font-size: 36px;

        }
        .infoFoto{
            position: relative;
            display: flex;
            padding: 10px 10px 10px 15px;
            background-color: rgba(0, 0, 0, 0.45);
            color: #CE5353;
        }
        .infoFoto .textoFoto *{
            margin-bottom: 0px;
            color: whitesmoke;
        }
        .infoFoto .bi-heart-fill{
            position: absolute;
            right: 30px;
            font-size: 48px;
        }

        .descripcion{
            box-shadow: -2px 4px 8px -5px rgb(0 0 0 / 31%);
            padding: 17px;
        }
        .descripcion #titulo{
            font-size: 24px;
            font-weight: bolder;
            color: #CE5353;
        }
        .descripcion #cuerpoDescripción{
            font-size: 12px;
        }
        .atributos{
            display: flex;
            justify-content: space-between;
            padding: 0 17px;
            box-shadow: -2px 4px 8px -5px rgb(0 0 0 / 31%);
        }
        .columna{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .fila{
            text-align: left;
        }
        .fila h2{
            font-size: 16px;
            font-weight: bold;
            color: #CE5353;
            margin-bottom: 2px;
            margin-top: 10px;
        }
        .fila p{
            font-size: 12px;

        }
        .botonPaginas{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .botonPaginas a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
            background-color: #CE5353;
            padding: 10px;
        }
        .gustos{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: start;
            margin: 12px 17px;
        }
        .gustos h2{
            font-size: 16px;
            font-weight: bold;
            color: #CE5353;
            margin-bottom: 2px;

        }
        .bi-heart-fill:hover{
            cursor: pointer;
        }
        .matchOk{
            color: #E86362;
        }

        .matchKo{
            color: #858585;
        }

        .bi-chat-left-fill{
            color: #5875AF;
        }


    </style>
{% endblock %}