    {% extends 'base.html.twig' %}

{% block title %}Búsqueda - Adopta un Cubano{% endblock %}

{% block body %}
{{ parent() }}
{{ dump() }}

    <div class="mx-auto  gridBusqueda ">
        <h1>Resultados de la búsqueda</h1>
    {% for resultado in resultados %}

        <div class="fila bg-white">
            <a class="wrapper-foto" href="{{ path('perfiles',{id:resultado.id}) }}"><div class="foto" style="background-image: url('{{ asset('images/perfiles/' ~ resultado.foto_perfil ~ '') }}');"></div></a>
            <div class="cabecera">
                <div class="res_nombre"><p>{{ resultado.nombre ? resultado.nombre : 'Nombre' }}</p></div>
                <div class="res_edad"><p>{{ resultado.fecha_nac ? date().diff(date(resultado.fecha_nac)).y : 'Sin Edad' }}</p></div>
                <div class="res_nacionalidad"><p>{{ resultado.nacionalidad ? resultado.nacionalidad|country_name : "Sin nacionalidad" }}</p></div>
            </div>
            <div class="res_ojos">
                <h6 >Ojos</h6>
                <p>{{ resultado.ojos ? resultado.ojos : "none" }}</p></div>
            <div class="res_pelo">
                <h6 >Pelo</h6>
                <p>{{ resultado.color_pelo ? resultado.color_pelo : "none"}}</p></div>
            <div class="res_profesion">
                <h6 >Profesión</h6>
                <p>{{ resultado.profesion ? resultado.profesion : "none"}}</p></div>
            <div class="res_ciudad">
                <h6 >Ciudad</h6>
                <p>{{ resultado.ciudad ? resultado.ciudad : "none" }}</p></div>
            <div class="res_altura">
                <h6 >Altura (cm)</h6>
                <p>{{ resultado.altura ? resultado.altura : "none" }}</p></div>
            <div class="res_peso">
                <h6 >Peso (kg)</h6>
                <p>{{ resultado.peso ? resultado.peso : "none" }}</p></div>
            <div class="res_gustos">
                <h6 >Gustos</h6>
                <p>{{ resultado.gustos ? resultado.gustos|join(', ') : "none" }}</p></div>
            <div class="res_descripcion">
                <h6 >Descripción</h6>
                <p>{{  resultado.descripcion ? resultado.descripcion : "none" }}</p></div>

        </div>

    {% endfor %}

        <div class="botonPaginas">
            {%  if previous >= 0 %}
                <a  href="{{  path('busqueda',{ busqueda: query, offset: previous  }) }}"> Anteriores </a>
            {%  endif %}
            {%  if next < resultados|length %}
                <a  href="{{  path('busqueda',{ busqueda: query, offset: next  }) }}"> Siguiente </a>
            {%  endif %}
        </div>
    </div>



    <style>

        h6{
            margin: 0;
        }
        .gridBusqueda{
            width: 80%;
            display: grid;
            row-gap: 50px;
            padding: 50px;
            background-color: #E1E1E1;
            border-radius: 10px;
        }
        .gridBusqueda h1{
            color: #CE5353;
            font-weight: 600;
            margin: 0;
        }

        .fila{
            width: 100%;
            border-radius: 10px;
            display: grid;
            grid-template-areas:
                "foto cabecera cabecera cabecera"
                "foto ojos pelo profesion "
                "foto ciudad altura peso "
                "foto gustos gustos gustos "
                "visita descripcion descripcion descripcion ";
            grid-template-rows: minmax(min-content,50px) ;
            grid-template-columns: 150px auto auto auto;
            box-shadow: 6px 9px 10px rgb(0 0 0 / 20%);
            padding-bottom: 20px;
        }

        .wrapper-foto{
            grid-row: 1/6;
        }
        .foto{
            background-position: center;
            background-size: cover;
            width: 150px ;
            height: 200px;
            border-radius: 10px 0 0 0;
        }


        .res_gustos{
            grid-column: 2/5;
        }
        .res_descripcion{
            grid-column: 2/5;
        }
        .cabecera{
            grid-column: 2/5;
            background-color: #CE5353;
            display: grid;
            grid-template-areas:
                    "nombre edad"
                    "nombre nacionalidad";
            grid-template-rows: 30px 30px;
            color: white;
            padding: 15px;
            border-radius: 0 10px 0 0;
            box-shadow: 0px 9px 10px rgb(0 0 0 / 33%);
        }
        .cabecera>div{
            padding: 10px 5px 0px 10px!important;
        }
        .res_nombre{
            grid-row: 1/3;
        }
        .res_nombre p{
            font-size: 28px !important;
        }

        .res_nombre p{
            font-size: 20px;
        }
        .res_edad{
            justify-self: end;
            align-self: end;

        }
        .res_edad p{
            font-size: 20px!important;
        }
        .res_nacionalidad{
            justify-self: end;
            align-self: end;
        }
        .res_nacionalidad p{
            font-size: 18px!important;
        }
        div[class^='res_']{ /*Todos los div con class res_ en aldelante*/
            padding: 20px 5px 5px 25px;
        }
        div[class^='res_'] p{
            font-size: 16px;
            font-weight: 600;
        }
        .botonPaginas{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .botonPaginas a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
            background-color: #CE5353;
            width: 10%;
            padding: 10px 80px;
            margin-top: 10px;
            border-radius: 100px;
            box-shadow: 6px 9px 10px rgb(0 0 0 / 33%);
        }
        .botonPaginas a:hover{
            background-color: darkred;

        }
        div>h6{
            color: #CE5353;
            font-size: 18px;
            font-weight: 600;
        }


    </style>

{% endblock %}
