{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block header %}


    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center p-2 mb-2 mb-lg-0 text-white text-decoration-none">
                <img class=" img " style="margin-left: 0; max-width: 12em" src="{{ asset('images/Logos/LogoHeader.png') }}" ></img>
            </a>

            <ul class="nav col-12 col-lg-5 ms-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Información</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Ayuda</a></li>
            </ul>

            <div class="text-end">
                <button  style="background-color: #e86362; color: white; border-radius: 10px; " type="button" class="btn ">Iniciar Sesión</button>
            </div>
        </div>
    </div>


{% endblock %}

{% block body %}

    <style>

        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .vl {
            border-left: 3px solid white;
            height: 3vw;
            margin: 0px 0px 0px 10px;
        }
        body{
            background-size: cover;
            background-position: center 15%;
            background-repeat: no-repeat;
            background-image: url({{ asset('images/fondoIndex.png') }});
        }


        body{
            height: 100vh;
        }
    </style>

    {# nota: inhabilitado en la plantilla porque ya no se utiliza
            Lo dejo de ejemplo por si se olvida algo

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message issym
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/Users/Lolito/Documents/proyecto/src/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/Users/Lolito/Documents/proyecto/src/templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a></code></li>
        </ul>
    </div>
    #}

    <div class="main-wrapper">
    </div>



{% endblock %}




