{% extends 'base.html.twig' %}

{% block title %}Perfil - Adopta un Cubano{% endblock %}

{% block body %}

    {{parent()}}


    {%  if user is not null %}
        <div class="gridContenido mx-auto" style="width: 85%; margin-top: 50px">
            <div class="cabecera">
                <div class="likeContainer"><i class="big bi bi-heart-fill {{   user.id in likesTotales ? 'matchOk' : 'matchKo' }}" data-id-match="{{ user.id }}" ></i></div>
                <div class="fotoGrid">
                    {% if user.galeria and user.galeria.getFotoPerfil %}
                        <div class="imagenUsuario m-2 " style="background-image: url({{ asset('images/Perfiles/' ~ user.galeria.getFotoPerfil) }});"></div>
                    {% else %}
                        <p>Sin foto de perfil</p>
                    {% endif %}
                </div>

                <div class="info">
                    <h1 class="title m-1 mt-4">
                        {% if user and user.nombre %}
                            {{ user.nombre }}
                        {% else %}
                            Sin Nombre
                        {% endif %}
                    </h1>
                    <p class="m-1" >{{  user.atributos and user.atributos.getNacionalidad ? user.atributos.getNacionalidad|country_name : "Nacionalidad no definida" }}</p>
                    <p class="m-1" >{{  login.atributos and login.atributos.getFechaNac ? edad|date("%y años") : "Edad no definida" }}</p>
                </div>
            </div>
            <div class="listaAtributos">
                <div class="atributosRow">
                    <div>
                        <h6 class="atributos m-2">Ojos</h6>
                        <p class="atributos m-2">{{  user.atributos and user.atributos.getOjos ? user.atributos.getOjos : "Color de ojos no definido" }}</p>
                    </div>
                    <div>
                        <h6 class="atributos m-2">Pelo</h6>
                        <p class="atributos m-2">{{  user.atributos and user.atributos.getColorPelo ? user.atributos.getColorPelo : "Color de pelo no definido" }}</p>
                    </div>
                    <div>
                        <h6 class="atributos m-2">Profesión</h6>
                        <p class="atributos m-2">{{  user.atributos and user.atributos.getProfesion ? user.atributos.getProfesion : "Profesión no definida" }}</p>
                    </div>
                </div>

                <div class="atributosRow">
                    <div>
                        <h6 class="atributos m-2">Ciudad</h6>
                        <p class="atributos m-2">{{  user.atributos and user.atributos.getCiudad ? user.atributos.getCiudad : "Ciudad no definida" }}</p>
                    </div>
                    <div>
                        <h6 class="atributos m-2">Altura</h6>
                        <p class="atributos m-2">{{  user.atributos and user.atributos.getAltura ? user.atributos.getAltura : "Altura no definida" }}</p>
                    </div>
                    <div>
                        <h6 class="atributos m-2">Peso (Kg)</h6>
                        <p class="atributos m-2">{{  user.atributos and user.atributos.getPeso ? user.atributos.getPeso : "Peso no definido" }}</p>
                    </div>
                </div>
            </div>

            <div class="gustosDescripcion">
                <div class="gustos">
                    <h6 class="atributos">Gustos</h6>
                    <p class="atributos">{{  user.atributos and user.atributos.getGustos ? user.atributos.getGustos|join(', ') : "Gustos no definidos" }}</p>
                </div>

                <div class="descripcion">
                    <h6 class="atributos">Descripción</h6>
                        <p> Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>
                </div>
            </div>


            <div class="galeria ">
                <p class="galeriaTitulo">Galería</p>
                <div class="gridGaleria mt-4 mb-4">
                    {% if user.galeria %}

                        {% if user.galeria.getFotoPerfil %}
                            <div class="imagenUsuario m-2 d-flex flex-column justify-content-end" style="background-image: url({{ asset('images/Perfiles/' ~ user.galeria.getFotoPerfil) }});">
                                <p class="p-1 pe-4 ps-2 text-white mb-2 align-self-start">Foto Perfil</p>
                            </div>
                        {% else %}
                            <div class="imagenUsuario m-2 " style="background-image: url({{ asset('images/fotodefecto.png') }});"></div>
                        {% endif %}

                        {% for i in 0..4 %}
                            {% if i < user.galeria.getGaleria|length %}
                                <div class="imagenUsuario m-2 " style="background-image: url({{ asset('images/Perfiles/' ~ user.galeria.getGaleria[i]) }});"></div>
                            {% else %}
                                <div class="imagenUsuario m-2 " style="background-image: url({{ asset('images/fotodefecto.png') }});"></div>
                            {% endif %}
                        {% endfor %}

                    {% else %}

                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="w-100 bg-white text-center ">
            <h2>No hay ningun perfil asociado a este usuario</h2>
        </div>
    {% endif %}

    <style>
        p{
            font-size: 18px ;
        }
        .gridContenido{
            background-color: #E1E1E1;
            border-radius: 20px;

        }

        .fotoGrid{
            position: absolute;
            left: 30px;
            top: 24px;
        }
        .cabecera{
            display: flex;
            width:100%;
            position:relative;
            background-color: #CE5353;
            height: 150px ;
            box-shadow: 0px 3px 23px 10px rgb(0 0 0 / 31%);
            border-radius: 20px 20px 0 0;
        }
        .likeContainer{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 20px;
            right: 20px;
            height: 85px;
            width: 85px;
            background-color: white;
            border-radius: 100px;
            font-size: 48px;
            line-height: 0;
        }
        .matchKo{
            border:none;
            border-radius: 100px;
            color: gray;
            height: 35px;
        }
        .matchOk{
            height: 35px;
            border:none;
            border-radius: 100px;
            color: #CE5353;
        }
        .matchKo:hover{
            cursor: pointer;
        }
        .matchOk:hover{
            cursor: pointer;
        }
        .imagenUsuario{
            width:300px;
            height: 300px;
            background-position: center;
            background-size: cover;
            border-radius: 10px;
            box-shadow:7px 5px 20px 0px rgb(0 0 0 / 20%)
        }
        .title{
            font-size: 36px;
            font-weight: 600;
        }
        .galeriaTitulo{
            font-size: 36px;
            font-weight: 300;
            padding: 7px 40px;
            color: white;
        }
        .info{
            color: white;
            margin-left: 375px;

        }
        .info h1{
            font-weight: bolder;
        }
        .listaAtributos{
            width: 100%;

            display: inline-block;
        }
        .atributosRow{
            margin-left: 390px;
            display: flex;
            justify-content: space-between;
            margin-right: 200px;
        }
        .atributosRow div{
            width: 350px;
        }
        .gustosDescripcion{
            margin: 30px 30px 30px calc(30px + 0.5rem);
        }
        .gustosDescripcion>*{
            margin-bottom: 20px;
        }
        .atributos{
            z-index: 10;
        }
        h6{
            padding-top: 15px;
            color: #CE5353;
            font-size: 24px;
            font-weight: 600;
        }

        .editarPerfil p{
            background-color: #CE5353;
            border-top-left-radius: 360px;
            border-bottom-left-radius: 360px;
        }



        .descripcion{
            grid-column: 1/5;
        }

        .galeria{
            grid-column: 1/5;
            display: grid;
            grid-template-columns: 1fr ;

        }
        .galeria p{
            background-color: #CE5353;
            border-top-right-radius: 360px;
            border-bottom-right-radius: 360px;
            justify-self: start;

        }

        .gridGaleria{
            display: grid;
            grid-template-areas:
                "foto foto foto"
                "foto foto foto";

            background-color: #E1E1E1;
            justify-items: center;
            place-content: center;
            gap: 2em;

        }

        @media screen and (max-width: 1210px) {
            .gridGaleria {
                gap: 0 !important;
            }
            .imagenUsuario{
                width:150px;
                height: 150px;
            }
        }

    </style>

{% endblock %}
